syntax: glob
mgkit.egg-info
*.pyc
*.orig
*.pickle
docs/source/_themes
docs/build
dist
build
docs/source/examples/plots/*_files/
docs/source/examples/plots/*.rst
.ipynb_checkpoints/
docs/source/pipeline/Exploring-Metagenomic-Data_files
docs/source/examples/plots/abund.py
docs/source/examples/plots/boxplot.py
docs/source/examples/plots/heatmap.py
mgkit/_private
*.msgpack
docs/source/examples/db/example-annotation-db-package.py
docs/source/examples/db/example-annotation-db-package.rst
docs/source/examples/plots/misc-plots.py
docs/source/pipeline/Exploring-Metagenomic-Data.py
docs/source/pipeline/Exploring-Metagenomic-Data.rst
docs/source/pipeline/hmmer-tutorial-explore-data.py
docs/source/pipeline/hmmer-tutorial-explore-data.rst
docs/source/pipeline/tutorial-old.rst
docs/source/pipeline/Untitled.ipynb
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_18_0.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_20_1.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_43_0.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_45_0.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_53_0.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_54_0.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_58_0.png
docs/source/pipeline/hmmer-tutorial-explore-data_files/hmmer-tutorial-explore-data_74_0.png
*.so
FreeMono.ttf
.pytest_cache/
docs/tutorial-data/
.tox/
htmlcov/
.eggs/