[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blockdiag = ">=1.5.1"
sphinx-rtd-theme = ">=0.1.7"
sphinxcontrib-blockdiag = ">=1.5.1"
sphinx-argparse = ">=0.1.12"
ipython = ">=3.2.1"
sphinx = ">=1.7"
matplotlib = ">=2.0"
networkx = ">=1.9.1"
reportlab = ">=3.2.0"
jupyter-console = "*"
sphinx-click = "*"
nbsphinx = "*"
ipykernel = "*"
pygments = "*"
tox = "*"
bumpversion = "*"

[packages]
pysam = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
htseq = "*"
semidbm = "*"
pymongo = "*"
scipy = "*"
matplotlib = "*"
msgpack-python = "*"
statsmodels = "*"
future = "*"
requests = "*"
click = "*"
mgkit = {editable = true,path = "."}

[requires]
python_version = "3.6"
